* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/475/549/original/colorful-firework-background-free-vector.jpg");
 background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   display: flex;
   flex-direction: column;
   gap: 20px;
   }
   
   .menu {
   display: flex;
   gap: 20px;
   justify-content: flex-end;
   }

   .menu li{
    list-style: none;
    margin-right: 15px;
   }

   .menu li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
   .wave{
       fill: pink;
   }
   
   .picfig{
       margin:20px 0 20px;
       display: flex;
       justify-content: center;
   }
   
   .picfig img{
       width: 400px;
       height: 300px;
       border-radius: 15px;
   }
   
   .header_p{
       padding: 0 10px;
   
   }

body{
    background-color:pink;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
  }

.wavy {
    position: relative;
    padding-top: 40px;
}

.wavy span {
    position: relative;
    display: inline-block;
    color: rgb(142, 27, 4);
    font-size: 4em;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
        
  
@keyframes animate {
            0% {
                transform: translateY(0px);
            }
  
            20% {
                transform: translateY(-20px);
            }
  
            40%,
            100% {
                transform: translateY(0px);
            }
        }